<nav class="navbar navbar-expand-lg navbar-dark color  ">
  <div class="container-fluid ">
    <a class="navbar-brand  "href="#">
      <img src="../assets/Logo.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-center">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        
        <a class="nav-link text" aria-current="page" [routerLink]="['/cliente']" routerLinkActive="active">Cliente</a>
        <a class="nav-link text"  [routerLink]="['/fornecedor']" >Fornecedor</a>
        <a class="nav-link text"  [routerLink]="['/departamento']">Departamento</a>
        <a class="nav-link text"  [routerLink]="['/funcionario']">Funcionário</a>
        <a class="nav-link text"  [routerLink]="['/empresa']">Empresa</a>
        <a class="nav-link text"  [routerLink]="['/projeto']">Projeto</a>
        
        
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <!-- É no router-outlet que os componentes acessados pelas rotas são renderizados. -->
  <router-outlet></router-outlet>
</div>