.wire {
    max-width: 500px;
}

.bg {
    background-color: rgba(240, 241, 241, 0.3); 
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
}

.color {
    border: solid #8f9491 2px;
    border-radius: 10px;
}

.colorbuttonc {
    color: white;
    background-color: #8f9491;
}

.colorbuttons {
    color: white;
    background-color: #474747;
}
